header .container,
header .header-left {
  display: flex;
  align-items: center;
  height: 100%;
}

header .header-left {
  margin: 0;
}

header .header-right {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 auto;
  order: 2;
  color: #fff;
}

header .header-left .logo {
  display: block;
  max-width: 50px;
  width: 100%;
  margin: 0 10px 0 0;
}

.logo-home {
  display: inline-flex;
}

.img-full {
  display: block;
  width: 100%;
  height: auto;
}

.web-title {
  font-family: "Amazon Ember";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height, or 83% */
  letter-spacing: 0.06px;

  color: #ffffff;
}

header .header-left .nav {
  position: relative;
  margin-left: 25px;
}

header .header-left .nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

header .header-left .nav .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 13px 0 0;
  padding: 15px;
  transition: 0.2s all;
  cursor: pointer;
  border-radius: 5px;
}

header .header-left .btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  margin: 0 0 0 25px;
  padding: 0 15px;
  background: #eff0f2;
  border-radius: 4px;
  transition: 0.2s all;
  cursor: pointer;
}

header .header-left .nav .dropdown i {
  font-size: 12px;
  margin: 0 0 -1px 10px;
}

.header-right i {
  font-size: 19px;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s all;
}

header .header-right .btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  margin: 5px 0;
  padding: 0px 15px;
  transition: 0.2s all;
  cursor: pointer;
}

header .header-right .dropdown i {
  font-size: 12px;
}

.breadcrumbs {
  width: 100%;
  height: 3vh;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 2px rgba(0, 28, 36, 0.3);
  position: fixed;
}

.app_container {
  height: 95vh;
  width: 100%;
  display: block;
  background-color: #eaeded;
}

*[aria-hidden="true"] {
  visibility: hidden;
}

*[aria-hidden="false"] {
  visibility: visible;
}

.page {
  overflow-y: hidden;
}

.page-content,
.learning-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.learning-content1 {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  /* background-color: #f2f3f3; */
}

.page-left {
  width: 15vw;
  flex-shrink: 0;
  position: relative;
  word-wrap: break-word;
}

.menu {
  /* width: 20vw; */
  width: 15vw;
  top: 8.1vh;
  bottom: 0px;
  position: fixed;
  overflow: auto;
  background-color: #fff;
}

.close-menu {
  position: absolute;
  outline: none;
  right: 16px;
  top: 15px;
  z-index: 1;
}

.section {
  border-collapse: separate;
  border-spacing: 0;
  caption-side: top;
  cursor: auto;
  direction: ltr;
  empty-cells: show;
  /* font-family: serif; */
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  -webkit-hyphens: none;
  hyphens: none;
  letter-spacing: normal;
  list-style: disc outside none;
  tab-size: 8;
  text-align: left;
  text-align-last: auto;
  text-indent: 0;
  visibility: visible;
  white-space: normal;
  widows: 2;
  word-spacing: normal;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  color: #16191f;
  font-weight: 400;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  min-width: 0;
  -ms-word-break: break-all;
  word-break: break-word;
}

.menu-tile {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 32px;
}

.mode-learn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.mode-learn label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0;
  color: #545b64;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.switch-root {
  width: 58px;
  height: 38px;
  display: inline-flex;
  padding: 12px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
}
.switch-oval {
  top: 0;
  left: 0;
  color: #fafafa;
  z-index: 1;
  position: absolute;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.switch-oval1 {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.switch-oval input[type="checkbox"] {
  display: none;
}

.icon-oval {
  width: 20px;
  height: 20px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 50%;
  background-color: currentColor;
}

.icon-rec {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  background-color: #000;
}

.section-list {
  /* padding: 10px 32px 0px 32px; */
  padding: 0 32px;
}

.section-list ul li {
  margin: 8px 0;
  padding: 0;
  list-style: none;
  color: #545b64;
}

.section-list .section-item {
  margin-left: -10px;
}

.section-header {
  cursor: pointer;
  display: flex;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.section-content ul {
  padding-left: 40px;
  margin: 0;
}

.section-content ul li {
  margin: 8px 0;
  padding: 0;
  list-style: none;
}

.page-right {
  flex: 1 1;
  min-width: 0;
  position: relative;
}

.course-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5%;
}

.lesson {
  max-width: 75%;
  min-width: 60%;
  min-height: 70%;
  background: #fff;
}

.lesson-title {
  padding: 20px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.title-note {
  padding: 0px 0px 0px 4px;
  color: #687078;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.lesson-title .status {
  font-weight: 700;
  padding: 0px 0px 0px 8px;
  font-size: 12px;
  line-height: 16px;
  color: #0073bb;
}

.lesson-content {
  display: flex;
  /* width: 100%;
  height: 100%; */
  position: relative;
  /* flex-direction: column; */
  font-size: 14px;
  padding: 10px;
}

.active {
  color: #0073bb !important;
}

.lesson-video {
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
} */
video {
  width: 100%;
  height: 100%;
}

/*======== Add Lecture =========*/

.add-lecture {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-main {
  max-width: 1080px;
  min-width: 280px;
  padding-top: 2rem;
  position: relative;
  flex-grow: 1;
}

.ui-breadcrumbs {
  display: flex;
}

.add-course {
  min-height: 95vh;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-main {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  padding: 0 4rem;
  /* background-color: #f2f3f3; */
}

.add-content {
  max-width: 100%;
  min-width: 1080px;
  padding-top: 5rem;
  position: relative;
  flex-grow: 1;
}

.content {
  padding-bottom: 2rem;
}

.dx-Wizard {
  display: flex;
}

.dx-Wizard__progressContainer {
  display: block;
  flex: 1 1 auto;
  max-width: 20rem;
  width: 100%;
}

.dx-WizardProgress {
  margin-right: 8rem;
}

.dx-WizardProgressStep,
.dx-WizardProgressStep,
.spec-WizardProgressStep {
  padding: 0px;
}

.dx-WizardProgressStep__header {
  color: #687078;
  padding: 0.2rem 0;
  font-size: 0.8rem;
}

.dx-WizardProgressStep__title {
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  line-height: 2rem;
}

.dx-WizardProgressStep__title--bold {
  font-weight: 600;
  color: #16191f;
}

.dx-WizardProgress__divider {
  border: none;
  border-bottom: 0.1rem solid #d5dbdb;
  margin-bottom: 0.5rem;
}

.dx-Wizard__contentContainer {
  flex: 1 1 auto;
  max-width: 80rem;
  width: 100%;
}
.form-content {
  padding-bottom: 2rem;
}
.form-header {
  margin-bottom: 20px;
}

.form-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  color: #16191f;
}

.util-container > * {
  padding: 1rem 1.3rem;
}

.util-container > :last-child {
  padding-bottom: 1.5rem;
}

.util-container {
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgb(0 28 36 / 30%), 1px 1px 1px 0 rgb(0 28 36 / 15%),
    -1px 1px 1px 0 rgb(0 28 36 / 15%);
  border-top: 1px solid #eaeded;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.util-container .util-container-header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #16191f;
  background-color: #fafafa;
  border-bottom: 1px solid #eaeded;
  padding: 1rem 1rem;
  font-weight: 700;
}

.form-field {
  box-sizing: border-box;
}

.form-field-label,
.form-field-content {
  box-sizing: border-box;
  color: #16191f;
  font-size: 0.9rem;
  line-height: 0.8rem;
  display: inline-block;
  padding: 4px 0;
}

.form-field-description,
.form-hint {
  color: #687078;
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.form-field-control {
  padding-top: 0.5rem;
}

input[type="text"] {
  padding: 0.2rem 0.5rem;
  color: #16191f;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #aab7b8;
  font-size: 0.8rem;
  line-height: 0.9rem;
  height: 2rem;
}

textarea[type="text"] {
  padding: 0.2rem 0.5rem;
  color: #16191f;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #aab7b8;
  font-size: 0.9rem;
  line-height: 0.9rem;
  /* height: 6rem; */
}

input[type="radio"] {
  margin: 0.5rem 0.5rem 0.5rem 0px;
  font-size: 0.9rem;
}

input[type="text"]:focus,
textarea[type="text"]:focus {
  outline: 2px dotted transparent;
  border: 1px solid #00a1c9;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #00a1c9;
}

.util-mb-l,
.util-mv-l {
  margin-bottom: 2rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.dx-FormActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1rem 0 0 -1rem;
}

.dx-FormActions > * {
  margin: 1rem 0 0 1rem;
}

.choose-file {
  pointer-events: auto;
  width: 100%;
  word-break: break-word;
  display: inline-block;
}

.btn-choose-file {
  background: #ffffff;
  color: #545b64;
  border-color: #545b64;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  padding: 4px 20px;
  border: 1px solid;
  font-size: 14px;
  word-break: break-word;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.btn-icon {
  position: relative;
  left: 4px;
  left: 4px;
  margin-right: 4px;
  height: 22px;
  width: 16px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  word-break: break-word;
  font-weight: 700;
  padding: 2px 0;
}

.display-vertical {
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
}

.child-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}

.form-review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.form-field-col {
  max-width: calc(30% - 10px);
  width: 100%;
}

.form-field-content {
  color: #545b64;
}
